!!! 5
html
	head
		meta(charset="utf-8")
		title wikiway_js
		//jQuery
		script(type="text/javascript", src="https://www.google.com/jsapi")
		script(type="text/javascript") google.load("jquery", "1");
		//Socket IO
		script(type="text/javascript", src="/socket.io/socket.io.js")
		//Custom Styles and Stuff
		link(rel="stylesheet", href="./css/style1.css", type="text/css", media="all")
		link(rel="stylesheet", href="./css/style2.css", type="text/css", media="all")
		//Client
		script(type="text/javascript", src="/js/client.js")
		//blockUI
		script(type="text/javascript", src="http://api.schnegg.biz/jqueryplugins/blockUI/blockUI.js")
		//autocomplete
		script(type="text/javascript", src="http://api.schnegg.biz/jqueryplugins/autocomplete/autocomplete.js")
		link(rel="stylesheet", href="http://api.schnegg.biz/jqueryplugins/autocomplete/autocomplete.css", type="text/css", media="all")
		//jGrowl
		script(type="text/javascript", src="http://api.schnegg.biz/jqueryplugins/jgrowl/jgrowl.js")
		link(rel="stylesheet", href="http://api.schnegg.biz/jqueryplugins/jgrowl/jgrowl.css", type="text/css", media="all")
	body
		div#wikiwayWrapper
			div#wikiwayContent
			div#wikiwayFooter
				div#wikiwayTitle
					h1 default
				div#wikiwayUsers
				div#wikiwayChat
					div#wikiwayChatContent
					div#wikiwayChatInput
						input(type="text", id="ChatText", placeholder="Gib deine Nachricht ein.")
						input(type="button", id="ChatButton", value="Senden")