h1 Liste der aktiven Spiele - 
	a(href="#") Neues Spiel!
- if (games.length)
	- each game, i in games
		a(href="#", game="#{i}") Von #{game.startArticle} nach #{game.endArticle}
		br
- else
	p Keine aktiven Spiele! :(
	br
	a(href="#") Neues Spiel!