h1 Du hast das Spiel verloren!!! - 
	a(href="javascript:void(0)", action="leaveGame") Liste der aktiven Spiele
p Artikel-Historie von des Gewinners (#{winner}):
ol
	- each article in history
		li #{article}