#newGame
	h1 Neues Spiel! - 
		a(href="javascript:void(0)", action="listGames") Liste der aktiven Spiele
	p 	Startartikel:
		input(type="text", id="text-startArticle")
	p 	Zielartikel:
		input(type="text", id="text-endArticle")
	input(type="button", id="newGameButton", value="Erstellen")