h1 Warteraum #{game.startArticle} nach #{game.endArticle} - 
	a(href="#", action="startGame", game="#{gameId}") Starte das Spiel!
- if (players.length)
	p Spieler:
	ul
		- each player in players
			li #{player}
- else
	p Keine aktiven Spieler! :(